/*  ====== add Post  ==== */
.addpost{
    margin-top: 3em;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divInputs{
    padding: 20px;
    border-radius: 6px;
}



/*  ====== view Post  ==== */
.viewpost{
    margin-top: 3em;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*  ====== edit Post  ==== */
.editpost{
    margin-top: 3em;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
